<!-- ----------------------------------------ngOnchanges----------------------------------------------------- -->
<!-- <div class="demo">
            <p #temp *ngFor="let message of message">message: {{message}}</p>
        </div> -->
<!-- ----------------------------------------ngOnchanges----------------------------------------------------- -->

<!-- -------------------------------------------------------------ngDoCheck---------------------------------------------- -->

<!-- <div class="demo">
            <p #temp >message: {{message}}</p>
        </div>        -->

<!-- -------------------------------------------------------------ngDoCheck---------------------------------------------- -->

<!-- -----------------------------------------------------------ngAfterContentInit----------------------------------------------- -->

<div class="demo">
  <p #temp>message: {{ message }}</p>
</div>
<ng-content></ng-content>

<!-- -----------------------------------------------------------ngAfterContentInit----------------------------------------------- -->
